<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>

    <header id="header"></header>

    <main>
        <header>
            <h1>asd</h1>
        </header>

        <aside>
            <p>Yun</p>
            <p><a href="www.naver.com">asd</a> </p>
            <p><time datetime="2022-01-01T00:00:00">2022-01-01</time></p>
            <p>#java</p>
        </aside>

        <section>

        </section>

    </main>


    <footer id="footer"></footer>


</body>
</html>